@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TestThreadLibrary.Models.Threads
<h2>Input Data Here</h2>

@using (Html.BeginForm())
{

    <label>
        <input type="text" value="" name="FirstValue"/>
    </label>

    <label>
        <input type="text" value="" name="SecondValue"/>
    </label>

    <label>
        <input type="text" value="" name="ThirdValue"/>
    </label>

    <label>
        <input type="text" value="" />
    </label>

    <label>
        <input type="text" value="" />
    </label>


    <button type="submit" formmethod="post">Submit</button>
}
<br />
@if (!Model.Equals(null))
{
    <label>
        <input type="text" value="@Model.Average" />
    </label>

    <label>
        <input type="text" value="@Model.Max" />
    </label>

    <label>
        <input type="text" value="@Model.Min" />
    </label>
}